body,textarea,input,option{font:1.2em 'PT serif',\5FAE\8EDF\6B63\9ED1\9AD4,\5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1,Microsoft Yahei,Hiragino Sans GB,sans-serif;color:#222;}
a{color:#37E;text-decoration:none;}
a:hover{text-decoration:underline;}

html{background:url(favicon.ico) no-repeat 50% 100%;}
body{padding:.5em 0em 5em;}
header{margin:1.2em 0;text-align:center;color:grey;font-size:1.9em;box-shadow:0px 1px rgb(94,179,239);}
.header  a {color:gray;text-decoration:none;}
.des{color:#999;}
.min{font-size:.9em;}
h1{font-size:2.3em;}
h2{padding-left:6px;border-left:6px solid rgb(94,179,239);}
h2,h3,h4{margin-top:1em;}
blockquote{background:#F8F8F8;padding:.2em 1.8em;}
cite{font-style:normal;}
a{transition:.3s ease;}
body{text-rendering:optimizeLegibility;-webkit-font-smoothing:subpixel-antialiased;}
div#container{max-width:1000px; margin:auto;}

.job li{padding:1em 0;}
.job h4{margin:0;padding:0;}
.job p{margin:0;color:#999;}
.job a{display:block;}

.postlist,ul.null{list-style-type:none;padding-left:1em;}

ul.null strong{color:#999;font-size:.9em;}
ul.null strong:after{content:'：';}

.postlist a{color:#37E;
	display:inline-block;
	border-radius:.5em;
	cursor:pointer;
	position:relative;padding:10px 10px 10px 0px;}
.postlist a:hover{background:rgb(94, 179, 239);color:#fff;text-decoration:none;}
.postlist h4{padding:0;margin:0;}
.postlist h4 strong{margin:-.2em 0 0 .2em;padding:.3em .3em .25em;
	background:rgba(0,0,0,.05);color:#666;border-radius:.5em;
	font-size:.8em;font-weight:normal;}
.postlist span{color:#222;padding-right:10px;}
.postlist a:hover span{text-decoration:underline;}
.postlist img{position:absolute;left:12px;top:12px;
	width:16px;height:16px;padding:4px;
	background:rgba(0,0,0,.02);
	border-radius:4px;}
.postlist p{margin:0;opacity:.4;}

@-webkit-keyframes fadeinT{
    0%{opacity:0;-webkit-transform:translateY(-10px) scale(1.1);}
}
@keyframes fadeinT{
    0%{opacity:0;transform:translateY(-10px) scale(1.1);}
}
header{-webkit-animation:fadeinT 1s ease-out backwards;-animation:fadeinT 1s ease-out backwards;}
footer{margin-top:5em;line-height:0.3em;text-align:center;font-size:.7em;color:gray;}
.footer  a {color:gray;text-decoration:none;}
::selection {
  background: #262a30;
  color: #fff;
}
create_at{text-align:right;}
img {
	vertical-align: middle;
	max-width: 100%;
	margin: auto;
    border-radius: 5px;
}

}
.clearfix a {
    color: gray;
    text-decoration: none;
}
.clearfix a:hover {
    text-decoration: none;
}
.ds-social-links {width: 250px}
hr {border-left:1px solid #dddddd;border-top:1px solid #dddddd;margin-top: 30px;margin-bottom: 30px;}
@media (min-width:768px){.content{width:750px}}@media (min-width:992px){.content{width:970px; margin:auto;}}@media (min-width:1200px){.content{width:1000px; margin:auto;}}

/* table */
table {border: 1px solid #bbb;
  border: 1px solid #2f2f2f; 
  max-width: 100%;
}
table th, table td {    padding: 8px;
  background-color: #ededed;
}
/* loading */
.loader::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
.loader::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
