body,textarea,input,option{font:1.2em 'PT serif',\5FAE\8EDF\6B63\9ED1\9AD4,\5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1,Microsoft Yahei,Hiragino Sans GB,sans-serif;color:#222;}
a{color:#37E;text-decoration:none;}
a:hover{text-decoration:underline;}

html{background:url(favicon.ico) no-repeat 50% 100%;}
body{padding:.5em 0em 5em;}
header{margin:1.2em 0;text-align:center;color:#37E;font-size:1.9em}
.des{color:#999;}
.min{font-size:.9em;}
h1{font-size:2.5em;}
h2{margin-left:-.5em;}
h2,h3,h4{padding-top:1em;}
blockquote{background:#F8F8F8;padding:.2em 1.8em;}
cite{font-style:normal;}
a{transition:.3s ease;}
body{text-rendering:optimizeLegibility;-webkit-font-smoothing:subpixel-antialiased;}

.job li{padding:1em 0;}
.job h4{margin:0;padding:0;}
.job p{margin:0;color:#999;}
.job a{display:block;}

.postlist,ul.null{list-style-type:none;padding-left:1em;}

ul.null strong{color:#999;font-size:.9em;}
ul.null strong:after{content:'：';}

.postlist a{color:#37E;
	display:inline-block;
	border-radius:.5em;
	cursor:pointer;
	position:relative;padding:10px 10px 10px 0px;}
.postlist a:hover{background:rgb(94, 179, 239);color:#fff;text-decoration:none;}
.postlist h4{padding:0;margin:0;}
.postlist h4 strong{margin:-.2em 0 0 .2em;padding:.3em .3em .25em;
	background:rgba(0,0,0,.05);color:#666;border-radius:.5em;
	font-size:.8em;font-weight:normal;}
.postlist span{color:#222;padding-right:10px;}
.postlist a:hover span{text-decoration:underline;}
.postlist img{position:absolute;left:12px;top:12px;
	width:16px;height:16px;padding:4px;
	background:rgba(0,0,0,.02);
	border-radius:4px;}
.postlist p{margin:0;opacity:.4;}

@-webkit-keyframes fadeinT{
    0%{opacity:0;-webkit-transform:translateY(-10px) scale(1.1);}
}
@keyframes fadeinT{
    0%{opacity:0;transform:translateY(-10px) scale(1.1);}
}
header{-webkit-animation:fadeinT 1s ease-out backwards;-animation:fadeinT 1s ease-out backwards;}
footer{margin-top:5em;height:2em;text-align:center;font-size:.9em;color:gray;}
.footer  a {color:gray;text-decoration:none;}
::selection {
  background: #262a30;
  color: #fff;
}
create_at{text-align:right;}
img {
	vertical-align: middle;
	max-width: 100%
}
.clearfix a{color: grey; text-align: center;}
.clearfix a:hover {text-decoration:none;}
.ds-social-links {width: 250px}
